body {
  max-width: var(--content-width);
  margin-inline: auto;
  padding-inline: 1rem;
  line-height: var(--line-height);
  font-family: var(--font-family-sans-serif);
}

a,
a:visited {
  font-weight: bold;
  color: var(--color-primary);

  &:hover {
    color: oklch(from var(--color-primary) calc(l - 20) c h);
  }
}

aside,
blockquote,
pre {
  border-radius: var(--border-radius-small);
}

aside {
  padding-inline: var(--space-small);
  border: var(--space-xxs) dashed
    oklch(from var(--color-primary) calc(l + 20) calc(c * 3 / 4) h);
}

blockquote {
  margin-inline: var(--space-xs);
  margin-block: var(--gap-post-media);
  padding: var(--space-xs) var(--space-small);
  border-left: var(--space-xxs) solid var(--color-secondary);
  background-color: oklch(from var(--color-secondary) 95% 0.03 h);
}

pre {
  padding: var(--space-small);
}

table {
  border-collapse: collapse;
  width: 100%;

  > thead {
    border-bottom: 2px solid lightgrey;
  }

  > thead > tr > th,
  > tbody > tr > td {
    padding: 1rem;
  }
}
