body {
  max-width: var(--content-width);
  margin-inline: auto;
  padding-inline: 1rem;
  line-height: var(--line-height);
  font-family: var(--font-family-sans-serif);
  color: var(--color-text);
}

a,
a:visited {
  font-weight: bold;
  color: var(--color-primary);

  &:hover {
    color: var(--color-primary-hover);
  }
}

aside,
blockquote {
  border-radius: var(--border-radius-small);
}

aside {
  padding-inline: var(--space-small);
  border: var(--space-xxs) dashed var(--color-primary-light);
}

blockquote {
  margin-inline: var(--space-xs);
  margin-block: var(--gap-post-media);
  padding: var(--space-xs) var(--space-small);
  border-left: var(--space-xxs) solid var(--color-secondary);
  background-color: oklch(from var(--color-secondary) 95% 0.03 h);
}

table {
  border-collapse: collapse;
  width: 100%;

  > thead {
    border-bottom: 2px solid lightgrey;
  }

  > thead > tr > th,
  > tbody > tr > td {
    padding: 1rem;
  }
}

.expressive-code .frame {
  margin-block: var(--space-small) !important;
}

article {
  margin-block-end: var(--space-large);
}

p code {
  padding: 4px;
  border-radius: 2px;
  background-color: var(--color-inline-code);
}

/* center (more-or-less) top-level media elements */
:is(p, li) img,
:is(article, figure) > img,
video,
.twitter-tweet,
.instagram-media {
  display: block;
  max-width: 100%;
  height: auto;
  margin-inline: auto !important;
}

video {
  background-color: var(--color-tile);
}

article > :is(img, video, pre, figure),
li > :is(img, video),
iframe {
  margin-block: var(--gap-post-media) !important;
}

hr {
  border: none;
  height: 2px;
  margin-block: var(--space-medium);
  background-color: var(--color-shadow);
}
