body {
  max-width: var(--content-width);
  margin-inline: auto;
  line-height: 1.5;
  font-family: var(--font-family-sans-serif);
}

a,
a:visited {
  font-weight: bold;
  color: var(--color-purple);
}
