.list-inline {
  all: unset;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.break-word {
  overflow-wrap: break-word;
}

.text-deemphasized {
  font-style: italic;
  color: var(--color-text-deemphasized);
}
