:root {
  /* colors */
  --color-purple: oklch(55.99% 0.248 294.34);
  --color-link: var(--color-purple);

  /* typography */
  --line-height: 1.8;
  --font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  /* sizing/spacing */
  --content-width: 45rem;
  --space-large: 4rem;
  --space-medium: calc(var(--space-large) / 2);
  --gap-section: var(--space-large);
}
