:root {
  /* colors */
  --color-primary: oklch(55.99% 0.248 294.34);
  --color-secondary: cadetblue;
  --color-inline-code: oklch(95% 0 0);

  /* typography */
  --line-height: 1.8;
  --font-family-sans-serif: 'Work Sans', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';

  /* sizing/spacing */
  --content-width: 45rem;
  --space-large: 4rem;
  --space-medium: 2rem;
  --space-small: 1rem;
  --space-xs: 0.5rem;
  --space-xxs: 0.25rem;
  --gap-section: var(--space-large);
  --gap-post-media: var(--space-medium);
  --border-radius-small: 4px;

  /* expressive-code overrides */
  --ec-frm-frameBoxShdCssVal: none !important;
}
