{% extends 'layouts/base.njk' %}
{% from "../post-navigation.njk" import postNavigation %}

{# Populate <head> with post-related assets #}
{% block head %}
  {% if config.syntaxTheme %}
    <link rel="preload" as="style" href="/assets/css/{{ config.syntaxTheme }}"/>
    <link rel="stylesheet" href="/assets/css/{{ config.syntaxTheme }}"/>
  {% endif %}
{% endblock %}

{% block content %}
  <main tabindex="-1" style="--ne-vertical-leading: 2rem">
    {% include "header.njk" %}
    {% if date %}
      <small><time datetime="{{ date | htmlDate }}">{{ date | dateFilter }}</time></small>
    {% endif %}
    <h1 {% if breakTitle %}class="word-break-all"{% endif %}>{{ title }}</h1>
    {% if tags.length %}
      <ul style="all: unset; display: inline-flex; list-style: none;">
      {% for tag in tags %}
        <li style="margin-right: 16px; font-family: var(--ne-code-font-family)"><a href="/blog/tag/{{tag}}/">#{{tag}}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    <hr />
    <article>
      {{ content | safe }}
    </article>
    {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.posts | getNextCollectionItem(page) %}
    {% if previousPost or nextPost %}
      <hr />
      {{ postNavigation(previousPost, nextPost) }}
    {% endif %}
    {% include 'footer.njk' %}
  </main>
{% endblock %}

