---
import PageLayout from '@layouts/Page.astro';
import HeroText from '@components/HeroText.astro';
import PostList from '@components/PostList.astro';
---

<PageLayout>
  <section>
    <p>Hi! My name's</p>

    <HeroText>Andrew Aquino.</HeroText>

    <p>
      I'm a frontend developer in Southern California. These are my projects and
      notes about <strong>JavaScript</strong>, <strong>CSS</strong>,
      <strong>design</strong>, and <strong>anything else I'm learning</strong>.
    </p>
  </section>

  <hr />

  <!-- {% if config.lookingForWork %}
    {% include 'hire-me.njk' %}
  {% endif %} -->

  <section>
    <h2>Latest posts</h2>

    <PostList numPosts="3" />

    <a href="/blog/">See all</a>
  </section>
</PageLayout>
