---
const { postPrevious, postNext } = Astro.props;
---

<nav>
  {
    postPrevious ? (
      <a href={`/blog/${postPrevious.slug}`} class="post-link previous">
        <span class="arrow">←</span>
        <span class="link-text">
          Previous post
          <small>{postPrevious.data.title}</small>
        </span>
      </a>
    ) : null
  }

  {
    postNext ? (
      <a href={`/blog/${postNext.slug}`} class="post-link next">
        <span class="link-text">
          Next post
          <small>{postNext.data.title}</small>
        </span>
        <span class="arrow">→</span>
      </a>
    ) : null
  }
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    margin-block: var(--space-medium);

    &:not(:has(.previous.post-link)) {
      justify-content: flex-end;
    }
  }

  .post-link {
    display: flex;
    align-items: center;
    gap: 1rem;

    .link-text {
      display: flex;
      flex-direction: column;
    }

    &.next {
      justify-content: flex-end;

      .link-text {
        align-items: flex-end;
      }
    }
  }

  .arrow {
    font-size: x-large;
  }
</style>
