<hr>

<footer>
  <h2>Contact me</h2>

  <ul class="contact-list">
    <li><a href="mailto:hi@aqandrew.com">Email</a></li>
    <li><a href="https://twitter.com/aqandrew">Twitter</a></li>
    <li><a href="https://github.com/dawneraq">GitHub</a></li>
    <li><a href="https://codepen.io/dawneraq">CodePen</a></li>
  </ul>
</footer>