---
import { config } from '@config';

const { email, twitter, github, codepen } = config.author;
---

<footer>
  <h2>Contact me</h2>

  <ul class="list-inline">
    <li>
      <a href={`mailto:${email}`}>Email</a>
    </li>
    <li>
      <a href={`https://twitter.com/${twitter}`}>Twitter</a>
    </li>
    <li>
      <a href={`https://github.com/${github}`}>GitHub</a>
    </li>
    <li>
      <a href={`https://codepen.io/${codepen}`}>CodePen</a>
    </li>
  </ul>
</footer>

<style>
  footer {
    margin-block: var(--gap-section);
  }
</style>
