---
import { config } from '@config';

const navItems = [
  {
    text: 'Blog',
    url: '/blog/',
  },
  {
    text: 'About',
    url: '/about/',
  },
  {
    text: 'Resume',
    url: config.resumePath,
  },
];

function isAtUrl(path: string) {
  return Astro.url.pathname === path;
}

const isOnHomepage = isAtUrl('/');
---

<header>
  <nav>
    <ul class="list-inline">
      <li>
        <a
          href="/"
          aria-current={isOnHomepage ? 'page' : undefined}
          hidden={isOnHomepage}
          transition:name="my-name"
        >
          Andrew Aquino
        </a>
      </li>
      {
        navItems.map(({ text, url }) => (
          <li>
            <a href={url} aria-current={isAtUrl(url) ? 'page' : undefined}>
              {text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    margin-block: var(--space-medium) var(--space-large);
  }

  ul {
    > li:first-child {
      flex: 1;

      > [aria-current='page'] {
        color: red;
      }
    }
  }
</style>
