---
import { navigation } from '@config';
---

<header>
  <nav>
    {
      navigation.items.map(({ text, url }) => {
        return (
          // TODO Handle right-aligned nav items with CSS / change layout
          <a
            href={url}
            aria-current={Astro.url.pathname === url ? 'page' : undefined}
            style={{ float: url === '/' ? undefined : 'right' }}
          >
            {text}
          </a>
        );
      })
    }
  </nav>
</header>
