---
const navItems = [
  {
    text: 'Andrew Aquino',
    url: '/',
  },
  {
    text: 'Blog',
    url: '/blog/',
  },
  {
    text: 'About',
    url: '/about/',
  },
  {
    text: 'Resume',
    url: '/Andrew-Aquino-Resume.pdf',
  },
];
---

<header>
  <nav>
    <ul>
      {
        navItems.map(({ text, url }) => (
          <li>
            <a
              href={url}
              aria-current={Astro.url.pathname === url ? 'page' : undefined}
            >
              {text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    margin-block-end: var(--gap-section);
  }

  ul {
    all: unset;
    list-style-type: none;
    display: flex;
    gap: 1rem;

    > li:first-child {
      flex: 1;
    }
  }
</style>
