<section>
  {% set resumeUrl = '/Andrew-Aquino-Resume.pdf' %}
  <h2>
    I'm actively seeking a remote frontend developer role.
  </h2>
  <p>
    My goal is to create beautiful user-friendly software and grow my frontend skillset. I have over 3 years of experience building web apps with vanilla JavaScript and Angular, as well as some UX design experience. I've been teaching myself React recently, but I'm happy to learn whatever technology gets the job done.
  </p>
  <p>
    <a href={{ resumeUrl }}>Here's my resume.</a> Interested? <a href="mailto:{{ config.author.email }}">&#8594; Let's talk.</a>
  </p>
</section>

<hr>