---
import { config } from '@config';
---

<section>
  <h2>I'm actively seeking a remote frontend developer role.</h2>

  <p>
    My goal is to create beautiful user-friendly software and grow my frontend
    skillset. I have over 5 years of experience building web apps with vanilla
    JavaScript, Angular and Svelte; as well as some UX design experience. I've
    been self-taught with React since 2020, but I'm happy to learn whatever
    technology gets the job done.
  </p>

  <p>
    <a href="/Andrew-Aquino-Resume.pdf">Here's my resume</a>. Interested?
    <a href={`mailto:${config.author.email}`}>&rarr; Let's talk.</a>
  </p>
</section>
