---
const { postPrevious, postNext } = Astro.props;
---

<nav>
  {
    postPrevious ? (
      <a href={`/blog/${postPrevious.slug}`} class="post-link previous">
        <span class="arrow">←</span>
        <span class="link-text">
          Previous post
          <small class="break-word">{postPrevious.data.title}</small>
        </span>
      </a>
    ) : null
  }

  {
    postNext ? (
      <a href={`/blog/${postNext.slug}`} class="post-link next">
        <span class="link-text">
          Next post
          <small class="break-word">{postNext.data.title}</small>
        </span>
        <span class="arrow">→</span>
      </a>
    ) : null
  }
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-block: var(--space-large);

    &:not(:has(.previous.post-link)) {
      justify-content: flex-end;
    }
  }

  .post-link {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;

    &.next {
      justify-content: flex-end;
      text-align: right;
    }
  }

  .link-text {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
  }

  .arrow {
    font-size: x-large;
  }
</style>
