---
const { url, title, date } = Astro.props;

const dateFormatter = new Intl.DateTimeFormat('en-US', {
  dateStyle: 'long',
});
const dateForHumans = dateFormatter.format(new Date(date));
const dateForCrawlers = new Date(date).toISOString();
---

<li>
  <!-- TODO Remove hacky workaround for .word-break-all -->
  <!-- {% if title === '0.30000000000000004' %}class="word-break-all"{% endif %} -->

  <h3>
    <a href={url} rel="bookmark">{title}</a>
  </h3>

  <time datetime={dateForCrawlers}>{dateForHumans}</time>
</li>
