{% macro postNavigation(prev, next) %}
  {# TODO Move this style to a CSS file #}
  {% set justifyNav = 'space-between' if prev else 'flex-end' %}
  <nav style="display: flex; justify-content: {{ justifyNav | safe }}">
    {% if prev %}
      <a href="{{ prev.url }}">
        <svg width="16" height="16" viewBox="0 0 24 24"><g stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"><path d="M22 12H2M9 19l-7-7 7-7"/></g></svg>
        Previous post
        <br />
        <small>{{ prev.data.title }}</small>
      </a>
    {% endif %}
    {% if next %}
      <a href="{{ next.url }}">
        Next post
        <svg width="16" height="16" viewBox="0 0 24 24"><g stroke-linecap="round" stroke-linejoin="round" stroke-width="2" fill="none" stroke="currentColor" stroke-miterlimit="10"><path d="M2 12h20M15 5l7 7-7 7"/></g></svg>
        <br />
        <small>{{ next.data.title }}</small>
      </a>
    {% endif %}
  </nav>
{% endmacro %}
