---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<!-- {% extends 'layouts/base.njk' %} --><!-- TODO extend base layout -->
<main tabindex="-1">
  <Header />

  <!-- {% if title %}
      <h1>{{ title }}</h1>
    {% endif %} -->

  <slot />

  <Footer />
</main>
