---
import BaseLayout from './Base.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

const { title } = Astro.props.frontmatter || Astro.props;
---

<BaseLayout>
  <Header />

  <main tabindex="-1">
    {title ? <h1>{title}</h1> : null}

    <slot />
  </main>

  <Footer />
</BaseLayout>
