---
import Base from '@layouts/Base.astro';
import Header from '@components/Header.astro';
import DateDisplay from '@components/DateDisplay.astro';

const { title, date, tags } = Astro.props.frontmatter;
---

<Base {title}>
  <Header />

  <!-- TODO code syntax highlighting -->
  <main tabindex="-1">
    <small>
      <DateDisplay {date} />
    </small>

    <h1>{title}</h1>

    <!-- TODO tag pages -->
    {
      tags.length ? (
        <ul class="tag-list">
          {tags.map((tag: string) => (
            <li>
              <a href="#">#{tag}</a>
            </li>
          ))}
        </ul>
      ) : null
    }

    <hr />

    <article>
      <slot />
    </article>

    <!-- TODO next/previous posts -->
  </main>
</Base>

<style>
  .tag-list {
    all: unset;
    list-style: none;
    display: inline-flex;
    gap: 16px;
    font-family: monospace;
  }
</style>
