---
import Base from '@layouts/Base.astro';
---

<Base>
  <!-- TODO syntax theme -->
  <main tabindex="-1">
    <!-- TODO date -->
    <!-- TODO title -->
    <!-- TODO tags -->

    <hr />

    <article>
      <slot />
    </article>

    <!-- TODO next/previous posts -->
  </main>
</Base>
